
<header>
  <nav class="navigation" id="navigation">
    <div onclick="location.href='/'" class="banner-item fadeInDown"><h1 id="title">E-Commerce</h1></div>
    <div id="browse-container">
      <a id="browse-btn" class="nav-item "> Browse</a>

      <ul id="browse-popup" class="popup">
      <li><a href="#" class="browse-items">PC</a></li>
      <li><a href="#" class="browse-items">PC Parts</a></li>
      <li><a href="#" class="browse-items">Laptop</a></li>
      <li><a href="#" class="browse-items">Phone</a></li>
      <li><a href="#" class="browse-items">Tablet</a></li>
      <li><a href="#" class="browse-items">Accessory</a></li>
      <li><a href="#" class="browse-items">Sound System</a></li>
      <li><a href="#" class="browse-items">Headphone</a></li>
      <li><a href="#" class="browse-items">Classroom Peripherial</a></li>
      <li><a href="#" class="browse-items">Home & Tools</a></li>
      <li><a href="#" class="browse-items">Gaming System & Accessory</a></li>
      <li><a href="#" class="browse-items">Music</a></li>
      <li><a href="#" class="browse-items">Art</a></li>
      <li><a href="#" class="browse-items">Office Products</a></li>
      <li><a href="#" class="browse-items">Movies & Videos</a></li>
      <li><a href="#" class="browse-items">Other</a></li>
    </ul>
    </div>

    <input id="search-box" class="nav-item" type="text" name="" value="" placeholder="Search">
    <div class="user-control">
      <a class="nav-item" href="#">Login</a>
      <a class="nav-item" id="hide" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>

    
  </nav>
</header>
