<aside class="side">
    <ul class="side-menu">
      <li><a class="{{#if active.lists}}side-active{{/if}} side-items" href="/lists">Lists</a></li>
      <li><a class="{{#if active.post}}side-active{{/if}} side-items" href="/post">Sell</a></li>
      <li><a class="{{#if active.advertise}}side-active{{/if}} side-items" href="/advertise">Advertise</a></li>
      <li><a class="{{#if active.about}}side-active{{/if}} side-items" href="/about">About Us</a></li>
    </ul>
</aside>
