{{!-- {{>image-slider}}
{{>categories-menu}} --}}
<!-- main content -->
<main class="main-content">
  <div class="primary">
    <div class="wrapper">
      <h5 class="header">Login</h5>
    </div>
  </div>
</main>